@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'Poppins' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-message {
    color: red;
}

.poppins-default {
    font-family: 'Poppins' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-step {
    display: none;
}
.form-step.active {
    display: block;
}
.form-navigation {
    margin-top: 20px;
}
.button-sign-up {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
}
.button-sign-up[disabled] {
    background: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 14px;
}

.link-text {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}